<body class="gradient">

    <div class="container">

        <div class="row box">
            <h1 class="text-center">Relação de Gerentes</h1>
            <div>
                <table class="table text-center">
                    <thead>
                        <tr>

                            <th scope="col">Nome Gerente</th>
                            <th scope="col">Quantidade Clientes</th>
                            <th scope="col">Saldos Positivos</th>
                            <th scope="col">Saldos Negativos</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let gerente of gerentes">
                            <td>{{gerente.nome}}</td>
                            <td>{{gerente.numeroClientes}}</td>
                            <td>{{gerente.totalSaldosPositivos}}</td>
                            <td>{{gerente.totalSaldosNegativos}}</td>
                        </tr>
                    </tbody>
                </table>
                <p *ngIf="gerentes.length==0">Nenhum Gerente Cadastrado</p>
                <div>
                </div>
            </div>