<body class="gradient">
    <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="col box">
                <form>
                    <h1 class="text-center">Alterar Dados</h1>
                    <div class="form-group">
                        <label for="Nome">Nome</label>
                        <input type="text" class="form-control" placeholder="Nome">
                    </div>
                    <div class="form-group">
                        CPF: 999.999-99
                    </div>
                    <div class="form-group">
                        <label for="Telefone">Telefone</label>
                        <input type="text" class="form-control" placeholder="Telefone">
                    </div>
                    <div class="form-group">
                        <label for="Salario">Salario</label>
                        <input type="text" class="form-control" placeholder="Salario">
                    </div>
                    <div class="form-group">
                        <label for="cep">CEP</label>
                        <input type="text" class="form-control" placeholder="cep">
                    </div>
                    <div class="form-group">
                        <label for="rua">Rua</label>
                        <input type="text" class="form-control" placeholder="rua">
                    </div>
                    <div class="form-group">
                        <label for="bairro">Bairro</label>
                        <input type="text" class="form-control" placeholder="bairro">
                    </div>
                    <div class="form-group">
                        <label for="Numero">numero</label>
                        <input type="text" class="form-control" placeholder="numero">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Endereço de email</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                            placeholder="Seu email">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Nova Senha</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Senha">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Confirmar Senha</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Senha">
                    </div>

                    <button type="submit" class="btn btn-primary">Alterar Dados</button>
                    <button type="submit" class="btn btn-close-white border-2">Voltar</button>
                </form>
            </div>
        </div>
    </div>
    <!--==================  Conteúdo  ====================-->
</body>