<body class="gradient">
    <div class="container"><br>
        <div class="row box">
            <h1 class="text-center">Dados do Cliente</h1><br><br>
            <div>
                <table class="table ">
                    <thead>
                        <tr>
                            <th scope="col">Nome</th>
                            <th scope="col">CPF</th>
                            <th scope="col">email</th>
                            <th scope="col">Telefone</th>
                            <th scope="col">Salario</th>
                            <th scope="col">Cidade</th>
                            <th scope="col">Estado</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{cliente.nome}}</td>
                            <td>{{cliente.cpf}}</td>
                            <td>{{cliente.email}}</td>
                            <td>{{cliente.telefone}}</td>
                            <td>{{cliente.salario}}</td>
                            <td>{{cliente.cidade}}</td>
                            <td>{{cliente.estado}}</td>
                        </tr>
                    </tbody>
                </table>
                <br>
            <h1 class="text-center">Dados da Conta</h1><br>
            <div>
                <table class="table ">
                    <thead>
                        <tr>
                            <th scope="col">Numero</th>
                            <th scope="col">Data Criação</th>
                            <th scope="col">Limite</th>
                            <th scope="col">Saldo</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{conta.numero}}</td>
                            <td>{{conta.dataCriacao}}</td>
                            <td>{{conta.limiteCliente}}</td>
                            <td>{{conta.saldoCliente}}</td>
                        </tr>
                    </tbody>
                </table>
                
                
            

