<div class="container">
  <div class="row d-flex align-items-center justify-content-center">
    <div class="col box">
      <form>
        <h1 class="text-center">Ver Cliente</h1>
        <p>Conta: #990834</p>
        <div class="form-group">
          <label for="Nome">Nome</label>
          <input type="text" class="form-control" placeholder="Xunxun" disabled>
        </div>
        <div class="form-group">
          <label for="CPF">CPF</label>
          <input type="number" class="form-control" placeholder="99999999-99" disabled>
        </div>
        <div class="form-group">
          <label for="Telefone">Telefone</label>
          <input type="text" class="form-control" placeholder="9999-9999" disabled>
        </div>
        <div class="form-group">
          <label for="Salario">Salario</label>
          <input type="text" class="form-control" placeholder="R$9999" disabled>
        </div>
        <div class="form-group">
          <label for="cep">CEP</label>
          <input type="text" class="form-control" placeholder="99999-999" disabled>
        </div>
        <div class="form-group">
          <label for="rua">Rua</label>
          <input type="text" class="form-control" placeholder="Macarrão" disabled>
        </div>
        <div class="form-group">
          <label for="bairro">Bairro</label>
          <input type="text" class="form-control" placeholder="Atum" disabled>
        </div>
        <div class="form-group">
          <label for="Numero">numero</label>
          <input type="text" class="form-control" placeholder="999" disabled>
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Endereço de email</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="xumxum@gmail.com" disabled>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Senha</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="xumxum1234" disabled>
        </div>

        <button type="submit" class="btn btn-primary">Alterar Dados</button>
        <button type="submit" class="btn btn-close-white border-2">Voltar</button>
      </form>
    </div>
  </div>
</div>
