<div class="container">
  <span>Seja bem vindo Xing-ling!</span>
  <div class="row box">
    <h1 class="text-center">Consultar melhores clientes</h1>
    <div>

      <table class="table ">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">CPF</th>
          <th scope="col">Nome</th>
          <th scope="col">Estado</th>
          <th scope="col"> Saldo da conta </th>
          <th scope="col"> Visualizar </th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th scope="row">1</th>
          <td>99999999-99</td>
          <td>Xunxun</td>
          <td>Acre</td>
          <td>R$9999</td>
          <td><button type="submit" class="btn btn-outline-primary">Visualizar</button></td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>99999999-99</td>
          <td>Xunxun</td>
          <td>Acre</td>
          <td>R$9999</td>
          <td><button type="submit" class="btn btn-outline-primary">Visualizar</button></td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>99999999-99</td>
          <td>Xunxun</td>
          <td>Acre</td>
          <td>R$9999</td>
          <td><button type="submit" class="btn btn-outline-primary">Visualizar</button></td>
        </tr>
        <tr>
          <th scope="row">4</th>
          <td>99999999-99</td>
          <td>Xunxun</td>
          <td>Acre</td>
          <td>R$9999</td>
          <td><button type="submit" class="btn btn-outline-primary">Visualizar</button></td>
        </tr>
        <tr>
          <th scope="row">5</th>
          <td>99999999-99</td>
          <td>Xunxun</td>
          <td>Acre</td>
          <td>R$9999</td>
          <td><button type="submit" class="btn btn-outline-primary">Visualizar</button></td>
        </tr>
        </tbody>
      </table>
      <div>
      </div>
    </div>
  </div>
</div>
