<body class="gradient">
    <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="col box">
                <form>
                    <h1 class="text-center">Saque</h1>
                    <div class="form-group">
                        <label for="Nome">Quanto deseja sacar? Valor Máx:R$9999</label>
                        <input type="number" class="form-control" placeholder="R$">
                    </div>
                    <div>
                      <label for="exampleInputPassword1">Digite sua Senha</label>
                      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Senha">
                    </div>
                    <button type="submit" class="btn btn-primary">Confirmar</button>
                    <button type="submit" class="btn btn-close-white border-2">Voltar</button>
             </form>
            </div>
        </div>    
    </div>
</body>
 
