<div *ngIf="usuarioLogado; else gotoLogin" class="gradient">
  <nav id="NAVBAR" class="navbar">
    <div class="container">
      <a id="logo_texto" class="navbar-brand" href="#"><img id="logo" src="assets/img/LOGO.png" alt="logo">
        BanTads</a>
      <!--<div class="navbar-collapse collapsed justify-content-between">-->
        <ul class="navbar-nav mr-auto">

          <li *ngIf="usuarioLogado.perfil==='CLIENTE'">
            <a href="#" routerLink="/cliente">
              <button class="btn btn-sidebar text-left">
                <i class="fa-solid fa-home me-2" data-width="24" data-height="24"></i>
                Inicio
              </button>
            </a>
          </li>

          <li *ngIf="usuarioLogado.perfil==='CLIENTE'">
            <a href="#" routerLink="cliente/deposito">
              <button class="btn btn-sidebar text-left">
                <i class="fa-solid fa-clipboard-list me-2" data-width="24" data-height="24"></i>
                Depósito
              </button>
            </a>
          </li>

          <li *ngIf="usuarioLogado.perfil==='CLIENTE'">
            <a href="#" routerLink="cliente/saque">
              <button class="btn btn-sidebar text-left">
                <i class="fa-solid fa-socks me-2" data-width="24" data-height="24"></i>
                Saque
              </button></a>
          </li>

          <li *ngIf="usuarioLogado.perfil==='CLIENTE'">
            <a href="#" routerLink="cliente/transferencia">
              <button class="btn btn-sidebar text-left">
                <i class="fa-solid fa-people-group me-2" data-width="24" data-height="24"></i>
                Transferência
              </button>
            </a>
          </li>

          <li *ngIf="usuarioLogado.perfil==='CLIENTE'">
            <a href="#" routerLink="cliente/extrato">
              <button class="btn btn-sidebar text-left">
                <i class="fa-solid fa-chart-pie me-2" data-width="24" data-height="24"></i>
                Consultar Extrato
              </button>
            </a>
          </li>
          <li *ngIf="usuarioLogado.perfil==='CLIENTE'">
            <a href="#" routerLink="cliente/alterar-dados">
              <button class="btn btn-sidebar text-left">
                <i class="fa-solid fa-chart-pie me-2" data-width="24" data-height="24"></i>
                Alterar Dados
              </button>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" (click)="logout()">Logout</a>
          </li>
          <li class="nav-item">
            <i class="fa fa-user"></i> {{ usuarioLogado.nome }}
          </li>

        </ul>
    </div>
  </nav>
  <div id="content">
    <router-outlet></router-outlet>
  </div>
</div>
<ng-template #gotoLogin>
  <router-outlet></router-outlet>
</ng-template>

<!-- <li *ngIf="usuarioLogado.perfil==='FUNCIONARIO'">
    <a href="#" routerLink="/funcionario">
      <button class="btn btn-sidebar text-left">
        <i class="fa-solid fa-home me-2" data-width="24" data-height="24"></i>
        Inicio
      </button>
    </a>
  </li>

  <li *ngIf="usuarioLogado.perfil==='FUNCIONARIO'">
    <a href="#" routerLink="funcionario/pesquisar-pedidos">
      <button class="btn btn-sidebar text-left">
        <i class="fa-solid fa-clipboard-list me-2" data-width="24" data-height="24"></i>
        Pedidos
      </button>
    </a>
  </li>

  <li *ngIf="usuarioLogado.perfil==='FUNCIONARIO'">
    <a href="#" routerLink="funcionario/listar-roupas">
      <button class="btn btn-sidebar text-left">
        <i class="fa-solid fa-socks me-2" data-width="24" data-height="24"></i>
        Roupas
      </button></a>
  </li> -->