<body class="gradient">
    <div class="container">
        <div class="row box">
            <h1 class="text-center">Relatorio de Clientes</h1><br>
            <div>
                <table class="table text-center">
                    <thead>
                        <tr>
                            <th scope="col">Nome</th>
                            <th scope="col">CPF</th>
                            <th scope="col">Limite</th>
                            <th scope="col">Gerente</th>
                            <th scope="col">Saldo</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let conta of contas">
                            <td>{{conta.nomeCliente}}</td>
                            <td>{{conta.cpfCliente}}</td>
                            <td>{{conta.limiteCliente}}</td>
                            <td>{{conta.nomeGerente}}</td>
                            <td>{{conta.saldoCliente}}</td>
                        </tr>
                    </tbody>
                </table>
                <p *ngIf="contas.length==0">Nenhum Cliente Cadastrado</p>
                <div>
                </div>
            </div>