<body class="gradient">
    <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="col box">
                <form>
                    <h1 class="text-center">Consulta de Extrato</h1>
                    <div class="form-group">
                        <label for="numero">Data de Início</label>
                        <input type="date" class="form-control" placeholder="9999999999">
                    </div>
                    <div class="form-group">
                        <label for="numero">Data de Fim</label>
                        <input type="date" class="form-control" placeholder="9999999999">
                    </div>
                    <div>
                      <label for="exampleInputPassword1">Digite sua Senha</label>
                      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Senha">
                    </div>
                    <button type="submit" class="btn btn-primary">Consultar</button>
                    <button type="submit" class="btn btn-close-white border-2">Voltar</button>
             </form>
            </div>
        </div>    
    </div>
</body>
