<div class="container">
  <div class="row box">
    <h1 class="text-center">Consultar todos os clientes</h1>
    <div class="justify-content-end">
      <p>
        <label for="Pesquisar">Consultar Cliente <input class="form-control" id="myInput" type="text" placeholder="Search.."></label>
        <button type="submit" class="btn btn-outline-primary">Pesquisar</button>
      </p>
    </div>
    <div>

      <table class="table ">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">CPF</th>
          <th scope="col">Nome</th>
          <th scope="col">Estado</th>
          <th scope="col"> Saldo da conta </th>
          <th scope="col"> Visualizar </th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th scope="row">1</th>
          <td>99999999-99</td>
          <td>Xunxun</td>
          <td>Acre</td>
          <td>R$9999</td>
          <td><button type="submit" class="btn btn-outline-primary" ><a  [routerLink]="['../ver-clientes']">Visualizar</a></button></td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>99999999-99</td>
          <td>Xunxun</td>
          <td>Acre</td>
          <td>R$9999</td>
          <td><button type="submit" class="btn btn-outline-primary" ><a  [routerLink]="['../ver-clientes']">Visualizar</a></button></td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>99999999-99</td>
          <td>Xunxun</td>
          <td>Acre</td>
          <td>R$9999</td>
          <td><button type="submit" class="btn btn-outline-primary" ><a  [routerLink]="['../ver-clientes']">Visualizar</a></button></td>
        </tr>
        <tr>
          <th scope="row">4</th>
          <td>99999999-99</td>
          <td>Xunxun</td>
          <td>Acre</td>
          <td>R$9999</td>
          <td><button type="submit" class="btn btn-outline-primary" ><a  [routerLink]="['../ver-clientes']">Visualizar</a></button></td>
        </tr>
        <tr>
          <th scope="row">5</th>
          <td>99999999-99</td>
          <td>Xunxun</td>
          <td>Acre</td>
          <td>R$9999</td>
          <td><button type="submit" class="btn btn-outline-primary" ><a  [routerLink]="['../ver-clientes']">Visualizar</a></button></td>
        </tr>
        <tr>
          <th scope="row">6</th>
          <td>99999999-99</td>
          <td>Xunxun</td>
          <td>Acre</td>
          <td>R$9999</td>
          <td><button type="submit" class="btn btn-outline-primary" ><a  [routerLink]="['../ver-clientes']">Visualizar</a></button></td>
        </tr>
        </tbody>
      </table>
      <div>
      </div>
      <!--==================  tabela  ====================-->
      <div class="row justify-content-around">
        <td><button type="submit" class="btn btn-outline-primary">Voltar</button></td>
      </div>
    </div>
  </div>
</div>
